{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.encabezado {
    padding: 2rem;
    margin-bottom: 2rem;
    border: 2px solid black;
}

.seccion {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 2rem;
    border: 2px solid gray;
    border-radius: 10px;
}

.presentacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.formulario {
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    border: 2px solid gray;
    border-radius: 10px;
}
.formulario input[type="text"],
.formulario input[type="number"],
.formulario select {
    width: 100%;
    padding: 0.7rem;
    border: 1px solid greenyellow;
    border-radius: 5px;
}
.boton {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    margin: 1rem;
    background-color: green;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}